body {
    background-color: aliceblue;
}

.wrap {
    width: 600px;
    background-color: #fff;
    margin: 5px;

    

}
.content {
    text-align: center;
    padding: 10px 20px 20px;
}

 img {
    width:100%;
}
.content h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.content h2::after {
    content: '';
    display: block;
    width: 30px;
    margin: 10px auto;
    border-bottom: 5px dotted  rgb(195, 158, 230);
}

.content p {
    font-size: 0.8rem;
}
.content button {
    width: 30%;
    border-radius: 50px;
    border: none;
    background-color:rgb(195, 158, 230);
    padding: 10px 20px;
    color: #fff;
    margin-bottom:20px ;


}